
<html ng-app>
	<head>
		<meta charset="UTF-8" />
	<titel>
		<link rel="stylesheet" type="text/css" href="sheets.css">
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script type = "text/javascript" src = "checkID.js"></script>
		<script src="controllers.js"></script>
		
	</titel>
	</head>
	<body ng-controller="mainControl">
		<div>
		<form name = "findByID" id = "main" action = "/edit" method = "post">
			<div class="main">
			<div class="field">
				<label>Введите Id пациента</label>	
				<input type = "text" name = "Id" onchange="checkID(name,value)" onkeypress="timer(name)" value = "537b9f5f01c84ea4163c7cf3" >
			</div>
			<div>
				<P>Дополнительная информация:</P>
				<span id = "res"><span>
				<span id = "info"><span>
				<span id = "hint"><span>
			</div>
		</div>
		</form>
		</div>
		<div>
		
		</div>
			<div class="field">
				<input type = "button" name = "Angular" value = "Angular" ng-click="Angular()">
			</div>
		
		<form name = "addPaition" id = "add" action = "/add" method = "post">
		</form>

		<input type = "text" name = "lNamne" value="Sherstyuk">
		<table class="table table-hover">
			<tr>
				<td>#</td>
				<td>Фамилия</td>
				<td>Имя</td>
				<td>Отчество</td>
				<td>Диагноз</td>
				<td>Дата регистрации</td>
				<td></td>
			</tr>
			<tr ng-repeat="pation in pations">
				<td>{{$index + 1}}</td>
				<td>{{pation.lastName}}</td>
				<td>{{pation.firstName}}</td>
				<td>{{pation.middleName}}</td>
				<td>{{pation.diagnosis}}</td>
				<td>{{pation.dataRegistartion}}</td>
				<td><input type = "button" name = "sub" value = "Edit" ng-click='main(pation._id)'></td>
			</tr>
		</table>
	</body>	
</html>


